/* High level element formatting */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	margin: 0px;
	background-color: white;
	color: darkgreen;
	height: 100%;
}

main {
	width: 100%;
	height: auto;
	padding: 5px 0px;
}


footer {
	color: black;
	background-color: #64f664;
	border-top: 5px solid darkgreen;
	padding: 10px 20px;
	margin-top: auto;
}


/* Formatting for navigation bar elements */

header, nav {
	background-color: #64f664;
	color: black;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 15%;
	min-height: 120px;
	border-bottom: 5px solid darkgreen;
}

h1 {
	justify-self: flex-start;
	align-self: start;
	margin: 0px;
	padding: 20px 20px 5px;
	box-sizing: border-box;
	color: darkgreen;
}

nav {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 40%;
}

nav ul {
	display: flex;
	position: relative;
	bottom: -5px;
	height: 100%;
	margin: 0px;
	list-style-type: none;
	padding-inline-start: 0px;
}

nav li {
	display: flex;
	box-sizing: border-box;	
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100px;
	padding: 0px 15px;
	border: 5px solid darkgreen;
	border-top-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
}

.selected {
	background-color: white;
	color: darkgreen;
	border-bottom: 5px solid white;	
}

a {
	color: darkgreen;
}

.selected a {
	color: darkgreen;
	text-decoration: none;
}

/* Formatting for body elements */

video {
	width: 100%;
	height:auto;
	max-width: 1280px;
	max-height: 720px;
	justify-self: center;
}

.vid-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

h2 {
	padding: 10px 20px 5px;
}

p, dl {
	padding: 0px 20px 5px;
	font-size: 1.2rem;
}

dl {
	position: relative;
	top: -15px;
}

dt {
	padding-top: 15px;
}

dd > a {
	color: blue;
}

article {
	border-top: 5px solid darkgreen;
	margin-top: 20px;
}

article:first-child {
	border-top: none;
}

article:last-child {
	margin-bottom: 20px;
}

.video-with-splash {
	border: 3px solid black;
	margin-bottom: 20px;
}
